name: linux
run-name: Linux packages
on: [push, fork]

jobs:
  compile:
    name: Compile kernel
    runs-on: ubuntu-latest
    steps:
      - name: Setup build environment
        run: |
          sudo apt update
          sudo apt install -y tree build-essential libncurses-dev gawk flex bison openssl libssl-dev dkms libelf-dev libudev-dev libpci-dev libiberty-dev autoconf llvm bc gcc-arm-linux-gnueabi dpkg-dev arch-install-scripts
      
      - name: Checkout debian
        uses: actions/checkout@v4
        with:  
          repository: codechara/debian
          path: debian
      
      - name: Checkout linux-imx
        uses: actions/checkout@v4
        with:
          repository: nxp-imx/linux-imx
          ref: lf-6.6.52-2.2.2
          path: linux

      - name: Patch linux
        run: |
          cd linux
          git apply ../debian/linux/patches/*
      
      - name: Build linux
        run: |
          cd linux
          make O=out ARCH=arm SUBARCH=arm CROSS_COMPILE=arm-linux-gnueabi- imx_v7_defconfig
          cat ../debian/linux/extra-config >> out/.config
          make O=out ARCH=arm SUBARCH=arm CROSS_COMPILE=arm-linux-gnueabi- olddefconfig
          make O=out ARCH=arm SUBARCH=arm CROSS_COMPILE=arm-linux-gnueabi- -j$(nproc)

      - name: Package linux
        run: |
          mkdir deb
          cp -r debian/linux/DEBIAN deb/
          cd linux
          make O=out ARCH=arm SUBARCH=arm CROSS_COMPILE=arm-linux-gnueabi- INSTALL_MOD_PATH=../deb modules_install
          cd ..
          dpkg-deb --build ./deb linux.deb

      - name: Artifact package
        uses: actions/upload-artifact@v4
        with:
          name: linux.deb
          path: linux.deb
          retention-days: 7  
